<a routerLink="interpolacion">INTERPOLACION</a><br>
<a routerLink="oneway">ONE WAY BINDING </a><br>
<a routerLink="twoway">TWO WAY BINDING</a><br>
<a routerLink="evento">EVENTO</a><br>
<a routerLink="servicio">SERVICIO</a><br>
<a routerLink="directivas">DIRECTIVAS</a><br>
<a routerLink="padre1">PASAR UN PARAMETRO</a><br>
<a routerLink="padre2">PASAR MAS DE UN PARAMETRO</a><br>
<a routerLink="padrehijo1">Padre  a hijo</a><br>
<a routerLink="hijopadre2">Hijo a padre</a><br>
<router-outlet></router-outlet>
